<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirecionar a raiz "/" para / via proxy (deixa o Node tratar) -->
        <rule name="ProxyRootToNode" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="http://localhost:3000/" />
        </rule>

        <!-- Proxy reverso padrão para todas as outras rotas -->
        <rule name="ProxyAllToNode" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="http://localhost:3000/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <defaultDocument enabled="false" />
  </system.webServer>
</configuration>
