:root {
  --cor-principal: #ff5722;
}

.text-empresa-cor {
  color: var(--cor-principal) !important;
}
.bg-empresa-cor {
  background: var(--cor-principal) !important;
  color: white;
}

.margin1 {
  margin: 0.5% 0.5%;
}

.borda {
  border-radius: 20px;
}

.borda-quadrada {
  border: solid 1.5px rgb(0, 0, 0);
}

.borda-bloco {
  border: solid 1px rgb(170, 170, 170);
  border-radius: 10px;
}

.metadeTela {
  width: 47.5%;
}

.umTercoTela {
  width: calc(100% / 3.2);
}

.umQuartoTela {
  width: calc(100% / 4.35);
}

.umQuintoTela {
  width: calc(100% / 5.25);
}
.umSetimoTela {
  width: calc(100% / 8);
}
.telaInteira {
  width: 100%;
}
#data-pop {
  flex-direction: none !important;
  width: 310px;
  overflow-x: hidden;
}
@media (max-width: 900px) {
  .metadeTela {
    width: 100%;
  }

  .umTercoTela {
    width: 100%;
  }

  .umQuartoTela {
    width: 100%;
  }
  .umQuintoTela {
    width: calc(100% / 5.25);
  }
  .umSetimoTela {
    width: calc(100% / 8);
  }
  #grid-cliente {
    max-height: 100vh;
  }
  .margin1 {
    margin: 1vh 1vw;
  }
}
/*---------------------------------TRANSITIONS----------------------------------------*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
