.content {
  line-height: 1.3;

  h2 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 10px;
  }
  
}

.content-block {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  
  .screen-x-small & {
    margin-left: 10px;
    margin-right: 10px;
  }

}

.responsive-paddings {
  padding: 20px;

  .screen-large & {
    padding: 20px;
  }
}

.dx-card wide-card-d {
  border-radius: 0;
  margin-left: -10px;
  margin-right: -10px;
  border-right: 0;
  border-left: 0;

}

.dx-card wide-card-detalhe {
  border-radius: 0;
  margin-left: -50px;
  margin-right: -50px;
  border-right: 0;
  border-left: 0;
  display: flex;  
}

.dx-card.wide-card {
  border-radius: 0;
  margin-left: 10px;
  margin-right: 10px;
  border-right: 0;
  border-left: 0;
  
}

.dx-card.wide-card-t {
  border-radius: 0;
  margin-left: 10px;
  margin-right: 10px;
  border-right: 0;
  border-left: 0;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;  
}

.dx-card.wide-card-g {
  border-radius: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-right: 0;
  border-left: 0;
  
}

.periodo {
  text-align: right;
  margin-right: 10px;  
  padding-right: 5px;  
  font-size: 15px;
  display: block;
  float: right;

  .screen-x-small & {
    text-align: left;
    margin-left: 3px;
    margin-right: 3px;
    float: none;
  
  }

}

.modulo {
  font-size: 15px;
} 

.with-footer > .dx-scrollable-wrapper >
.dx-scrollable-container > .dx-scrollable-content {
  height: 100%;

  & > .dx-scrollview-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  } 
 
}

.buttons-column {
  width: 150px;
  height: 40px;
  justify-content: center;
  text-align: center;  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding-left: 1px;
}

.tabPanel {
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;  
  margin-bottom: 30px;
}

.dx-card-componente {
  border-radius: 0;
  margin-left: 10px;
  margin-right: 10px;
  border-right: 0;
  border-left: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  
}


$side-panel-min-width: 60px;
